In [1]:
import os
# Using the correct spark version

spark_version = 'spark-3.5.1'
os.environ['SPARK_VERSION']=spark_version

# Installs Spark and Java

!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Sets Environment Variables

os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Starts a SparkSession

import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Get:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Hit:6 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Get:7 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,125 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease [18.1 kB]
Get:10 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,994 kB]
Hit:11 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:12 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [2,591 kB]
Get:13 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [973 kB]
Hit:14 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [2,664 kB]
Get:16 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 Packages [27.8 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,410 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,258 kB]
Fetched 13.4 MB in 5s (2,804 kB/s)
Reading package lists... Done

In [2]:
# Imports packages

from pyspark.sql import SparkSession
import time

# Creates a SparkSession

spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [3]:
# Reads in the AWS S3 bucket into a DataFrame

from pyspark import SparkFiles

url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

spark.sparkContext.addFile(url)

df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), header = True)

In [4]:
# Creates a temporary view of the DataFrame

df.createOrReplaceTempView('home_sales')

In [5]:
# Average price for a four bedroom house sold per year, rounded to two decimal places

spark.sql("""
          SELECT EXTRACT(year FROM date), ROUND(AVG(price),2) FROM home_sales WHERE bedrooms == 4 GROUP BY EXTRACT(year FROM date)
          ORDER BY EXTRACT(year FROM date)
          """).show()

+-----------------------+--------------------+
|extract(year FROM date)|round(avg(price), 2)|
+-----------------------+--------------------+
|                   2019|            300263.7|
|                   2020|           298353.78|
|                   2021|           301819.44|
|                   2022|           296363.88|
+-----------------------+--------------------+

In [7]:
# Average price of a home per year the home was built that have 3 bedrooms and 3 bathrooms, rounded to two decimal places

spark.sql("""
          SELECT EXTRACT(year FROM date_built) AS year, ROUND(AVG(price),2) AS price
          FROM home_sales WHERE bedrooms == 3 AND bathrooms == 3
          GROUP BY EXTRACT(year FROM date_built)
          ORDER BY EXTRACT(year FROM date_built)
          """).show()

+----+---------+
|year|    price|
+----+---------+
|2010|292859.62|
|2011|291117.47|
|2012|293683.19|
|2013|295962.27|
|2014|290852.27|
|2015| 288770.3|
|2016|290555.07|
|2017|292676.79|
+----+---------+

In [8]:
# Average price of a home for each year the home was built, that have 3 bedrooms/bathrooms, with two floors,and are >=2,000 square feet

spark.sql("""
          SELECT EXTRACT(year FROM date_built) AS year, ROUND(AVG(price),2) AS price FROM home_sales
          WHERE bedrooms == 3 AND bathrooms == 3 AND floors = 2 AND sqft_living >= 2000
          GROUP BY EXTRACT(year FROM date_built)
          ORDER BY EXTRACT(year FROM date_built)
          """).show()

+----+---------+
|year|    price|
+----+---------+
|2010|285010.22|
|2011|276553.81|
|2012|307539.97|
|2013|303676.79|
|2014|298264.72|
|2015|297609.97|
|2016| 293965.1|
|2017|280317.58|
+----+---------+

In [9]:
# Average price of a home per "view" rating, having an average home price >= $350,000 and ordered by descending view rating, and its run time

start_time = time.time()

spark.sql("""
          SELECT view, ROUND(AVG(price),2) AS price FROM home_sales
          GROUP BY view
          HAVING AVG(price) >= 350000
          ORDER BY view DESC
          """).show()



print("--- %s seconds ---" % (time.time() - start_time))

+----+----------+
|view|     price|
+----+----------+
|  99|1061201.42|
|  98|1053739.33|
|  97|1129040.15|
|  96|1017815.92|
|  95| 1054325.6|
|  94| 1033536.2|
|  93|1026006.06|
|  92| 970402.55|
|  91|1137372.73|
|  90|1062654.16|
|  89|1107839.15|
|  88|1031719.35|
|  87| 1072285.2|
|  86|1070444.25|
|  85|1056336.74|
|  84|1117233.13|
|  83|1033965.93|
|  82| 1063498.0|
|  81|1053472.79|
|  80| 991767.38|
+----+----------+
only showing top 20 rows

--- 1.9373185634613037 seconds ---

In [10]:
# Caches the the temporary table home_sales

spark.sql("CACHE table home_sales")

DataFrame[]

In [11]:
# Checks if the table is cached

spark.catalog.isCached('home_sales')

True

In [12]:
# Stores inital time

start_time = time.time()


# Runs the last query above using cached data that calculates the average price of a home per "view" rating having an average home price >= $350,000

spark.sql("""
          SELECT view, ROUND(AVG(price),2) AS price FROM home_sales
          GROUP BY view
          HAVING AVG(price) >= 350000
          ORDER BY view DESC
          """).show()

# Calculates the runtime

print("--- %s seconds ---" % (time.time() - start_time))

+----+----------+
|view|     price|
+----+----------+
|  99|1061201.42|
|  98|1053739.33|
|  97|1129040.15|
|  96|1017815.92|
|  95| 1054325.6|
|  94| 1033536.2|
|  93|1026006.06|
|  92| 970402.55|
|  91|1137372.73|
|  90|1062654.16|
|  89|1107839.15|
|  88|1031719.35|
|  87| 1072285.2|
|  86|1070444.25|
|  85|1056336.74|
|  84|1117233.13|
|  83|1033965.93|
|  82| 1063498.0|
|  81|1053472.79|
|  80| 991767.38|
+----+----------+
only showing top 20 rows

--- 0.9874265193939209 seconds ---

In [13]:
# Partitions by the "date_built" field on the formatted parquet home sales data

df.write.partitionBy("date_built").parquet("home_sales_partition")

In [14]:
# Reads the parquet formatted data

parquet_df = spark.read.parquet('home_sales_partition')

In [15]:
# Creates a temporary table for the parquet data

parquet_df.createOrReplaceTempView('parquet_table')

In [16]:
# Stores initial time

start_time = time.time()


# Uses the parquet DataFrame to run the previous query(average price of a home per "view" rating having an average home pricer >= $350,000)

spark.sql("""
          SELECT view, ROUND(AVG(price),2) AS price FROM parquet_table
          GROUP BY view
          HAVING AVG(price) >= 350000
          ORDER BY view DESC
          """).show()


# Calculates total time

print("--- %s seconds ---" % (time.time() - start_time))

+----+----------+
|view|     price|
+----+----------+
|  99|1061201.42|
|  98|1053739.33|
|  97|1129040.15|
|  96|1017815.92|
|  95| 1054325.6|
|  94| 1033536.2|
|  93|1026006.06|
|  92| 970402.55|
|  91|1137372.73|
|  90|1062654.16|
|  89|1107839.15|
|  88|1031719.35|
|  87| 1072285.2|
|  86|1070444.25|
|  85|1056336.74|
|  84|1117233.13|
|  83|1033965.93|
|  82| 1063498.0|
|  81|1053472.79|
|  80| 991767.38|
+----+----------+
only showing top 20 rows

--- 0.9369115829467773 seconds ---

In [17]:
# Uncaches the home_sales temporary table

spark.sql("UNCACHE table home_sales")

DataFrame[]

In [18]:
# Checks if the home_sales is no longer cached

spark.catalog.isCached('home_sales')

False